*{
  box-sizing: border-box;
  direction: rtl;
  margin: 0;
  padding: 0;
 
}
/* body{
 overflow-x: hidden;

} */
a{
  text-decoration:none;
}
li{
  list-style: none;
  
}
.borderBox{
  border-radius: 20px;
}